@tailwind base;
@tailwind components;
@tailwind utilities;

.my-scroll-container::-webkit-scrollbar {
  display: none;
}

@keyframes slider {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-66.67%);
  }
}

.animate-slider {
  animation: slider 12s linear infinite;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
